<div class="container">
  <div class="row">
    <h1 class="page-title">Publication Preview</h1>
    <div class="col-sm-8">
      <div class="publication">
        <h3 class="text-center">Publication Title<br><small>Publication Subtitle</small></h3>
       <p class="text-center"><em>Authors</em></p>
        <hr>
        <h3 class="text-center">Abstract</h3>
        <p class="text-justify"><em>
          Nullam dictum felis eu pede mollis pretium. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
          Phasellus blandit leo ut odio. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
          Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam. Curabitur at lacus ac velit ornare
          lobortis. Duis leo. Nullam cursus lacinia erat. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum
          eget, diam. In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae; Fusce id purus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
          Praesent ac sem eget est egestas volutpat. Vestibulum fringilla pede sit amet augue. Sed aliquam ultrices mauris.
        </em></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="publications-list">
        <h2 class="text-center">All publications</h2>
        <ul>
          <li>Phasellus consectetuer vestibulum</li>
          <li>Etiam iaculis nunc ac metus</li>
          <li>Fusce convallis metus id felis luctus adipiscing. Suspendisse faucibus, nunc et</li>
          <li>pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor.</li>
          <li>Nunc interdum lacus sit amet orci.</li>
        </ul>
      </div>
    </div>
  </div>
</div>