<div class="navbar navbar-default footer">
  <div class="container">
    <div data-role="footer" class="row text-center">
      <div class="col-sm-6">
        &copy 2016 <a href="">John Olukunle</a>.
        All rights reserved.
      </div>
      <div class="col-sm-6">
        <a href=""><i class="fa fa-envelope fa-lg"></i></a>
        <a href=""><i class="fa fa-mobile-phone fa-lg"></i></a>
        <a href=""><i class="fa fa-facebook fa-lg"></i></a>
        <a href=""><i class="fa fa-twitter fa-lg"></i></a>
      </div>
    </div>
  </div>
</div>